.favorite-page-container{
  position: relative;
  background-color: #f5f5f5;
  width: 100vw;
  min-height: 100vh;
}
.navbar-favorite-page {
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 100;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #FFFFFF;
}
.navbar-favorite-bottom {
  display: flex;
  padding: 20px 10% 10px 10%;
  background-color: #FFFFFF;
  color: var(--primary-color);
}
.no-favorites {
  text-align: center;
  font-size: 20px;
  color: var(--text-color);
  padding: 20px;
}
.navbar-favorite-logo-bottom{
    padding:0;
    text-align: left;
    font-size: 13.2px;
} 
.navbar-favorite-logo-top {
  font-size: 38px;
  padding: 0;
  margin: 0 0 -28px 0;
}
.navbar-favorite-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
    color: var(--primary-color);
}
.navbar-favorite-logo:hover {
    color: var(--primary-color);
}
.title-favorite {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 20px ;
  border-left: 1px solid var(--primary-color);
}

.favorite-description {
    font-size: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    color: var(--text-color);
    text-align: center;
    border-bottom: 5px solid var(--primary-color);
}
.favorite-content {
      margin: 0 10% 0 10%;
}

.favorite-page-item{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
  background-color: #FFFFFF;
}
.favorite-page-item-image {
  display: flex;
  flex: 1;
  gap: 20px;
  align-items: center;
}
.favorite-page-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
.price-red-fav-page {
    padding:0 10% 0 10%;
    color: red;
    font-size: 20px;
    text-align: right !important;
}
.btn-fav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 15px;
}
.btn-remove-fav {
    background-color: #FFFFFF;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)  ;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remove-fav:hover {
    background-color: #f5f5f5;
    border: 1px solid var(--primary-color)  ;
}
.btn-remove-fav:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 480px) {
    .navbar-favorite-logo {
        flex-direction: column;
    }
    .navbar-favorite-logo {
        margin-top: 20px;
    }
    .navbar-favorite-logo-top {
        font-size: 20px;
        margin-top: -20px;
    }
    .navbar-favorite-logo-bottom {
        display: none;
    }
    .title-favorite {
        font-size: 20px;
        padding: 15px 15px;
    }
    .favorite-page-item {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1023px)  {
    .price-red-fav-page {
        padding:0 20px 0 20px;
    }

}    