input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color:	var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #FFFFFF;
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
}

.separator {
  color: 	#45c44a;
}

.navbar-favorite {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-right: 10px;    
}
.favorite-icon {
  color: #fff;
  width: 35px;
  height: 35px;
  object-fit: contain;
  position: relative;
  margin-left: 8px;
}

.image-logo {
    width: 50px;
    height: auto;
    margin-top: -10px;
}
.navbar-logo {
    color: white;
}
.navbar-logo-bottom{
    padding:0;
    /* margin-top:-14px; */
    text-align: left;
    font-size: 13.2px;
} 
.navbar-logo-top {
  font-size: 38px;
  padding: 0;
  margin: 0 0 -28px 0;
}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
}
.navbar-logo:hover {
    color: inherit;
}
.navbar-search {
    display: flex;
    background-color: white;
    border-radius: 4px;
    padding: 2px;
    width: 66%;
}
.navbar-search form {
    display: flex;
    width: 100%;
    align-items: center;
}
.input-search {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    color: black;
    flex:1;
}
.navbar-search button {
    background-color:	var(--primary-color);
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    width: auto;
    outline: none;
    flex-shrink: 0;
}

.navbar-search button:hover {
    background-color: var(--secondary-color);
}
.navbar-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 8px 0;
  margin: 0;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
}
.navbar-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar-links li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s ease;
}
.navbar-icon button {
  background: aqua;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}
.navbar-links li a:hover {
  color: 	#7edf7a;
}

/*  */
.favorite-container {
  position: relative;
  display: inline-block;
}


.favorite-popup {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 400px;
  height: 400px;
  text-align: center;
  display: none;
  z-index: 100;
  color:black;
}

.favorite-popup::before {
  content: '';
  position: absolute;
  top: -18px;
  right: 17.2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent white transparent;

}

/* Hiển thị tooltip khi hover vào container */
.favorite-container:hover .favorite-popup {
  display: block;
}


/*  */

.notice-container {
  position: relative;
  display: inline-block;
}


.notice-popup {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 300px;
  height: 300px;
  text-align: center;
  display: none;
  z-index: 100;
  color:black;
}

.notice-popup::before {
  content: '';
  position: absolute;
  top: -18px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent white transparent;
}

/* Hiển thị tooltip khi hover vào container */
.notice-container:hover .notice-popup {
  display: block;
}

.navbar-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}
.image-avatar{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

/*  */

.user-container {
  position: relative;
  display: inline-block;
}


.user-popup {
  position: absolute;
  top: 25 px;
  right: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 135px;
  height: 111px;
  text-align: center;
  display: none;
  z-index: 100;
  color:black;
}
.user-popup a {
  color: black !important;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px !important;
  text-align: left; 
}
.user-popup a:hover {
  color: #ee4d2d !important;
  background-color: #f0f0f0
}

.user-popup::before {
  content: '';
  position: absolute;
  top: -15px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent white transparent;
}

.user-container:hover .user-popup {
  display: block;
}

.nav_bars_icon {
  display: none;
}


.nav_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.3s;
}

.nav_bars_open {
  display: none;
}

.nav_bars_close {
  position: absolute;
  font-size: 2rem;
  color: var(--text-color);
  top: 28px;
  right: 30px;
}
.nav_bars_open:checked ~ .nav_overlay{
  display: block;
}

.nav_bars_open:checked ~ .navbar-mobile {
  transform: translateX(0);
  opacity: 1;
}
.notice-mobile{
  font-size: 1.8rem;
  display: none;
}
.notice-mobile a{
  color: #fff;
}
.select-price {
  padding: 10px;
  margin: 0 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  flex-shrink: 0;
}


.favorite-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
}
.price-red {
  font-size: 14px !important;
}
.favorite-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid var(--primary-color);
}

/* Responsive */
@media (max-width: 1023px) {
  .navbar-top{
    display: none;
  }
  .notice-mobile{
    display: block;
  }
  .nav_bars_icon {
    display: block;
    font-size: 2.5rem;
    margin-left: 10px;
  }

  .navbar-logo{
    display: none;
  }
  .input-search{
    width: 50%;
  }
  .navbar-logo img{
    height: 30px;
    width: 30px;
  }
  .navbar-bottom {
    padding: 0 4% 0 4%;
  }
}
@media (max-width: 480px) {

  .navbar-mobile {
    width: 100%;
  }
  .select-price {
    width: 20%;
    margin-right: 4px;
    text-align: center;
  }
  .navbar-favorite {
    position: fixed;
    bottom: 80px;
    padding: 20px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .favorite-icon {
    width: 25px;
    height: 25px;
    margin: 0;
  }

}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-user-mobile {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.navbar-user-mobile p{
  margin-left: 20px;
  color: #b21818;
  font-size: 1.5rem;
  text-align: center;
}

.image-avatar-mobile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.line_nav_mobile {
  background-color: #bdbdbd;
  height: 1px;
  width: 100%;
}

.navbar-mobile-links {
  margin-top: 20px;
  text-align: left;
  font-size: 1.5rem;
}

.navbar-mobile-links li{
  padding-top: 30px;
  display: flex;
  color: var(--text2-color);
}

.navbar-mobile-links a{
  color: var(--text2-color);
  margin-left: 30px;
  margin-top: -6px;
}


.link_register_mobile {
  height: 75px;
  align-items: center;
  margin-top: 35px;
}

.link_register_mobile a{
  padding-left: 45px;
  font-size: 1.2rem;  
}
